@import "../scss/themes/net-basic/important.scss";

/*
[ Input ]
*/

:host {
  --wj-input-font-family: #{$base-font-family};
  --wj-input-background-color: #{$color-contrast-lowest};
  --wj-input-color: #{$color-contrast-higher};
  --wj-input-color-invalid: #{$color-danger-dark};
  --wj-input-border-color: #{$color-border-a};
  --wj-input-border-color-focus: #{$color-primary};
  --wj-input-border-width: 1px;
  --wj-input-border-style: solid;
  --wj-input-border-radius: 4px;
  --wj-input-margin-bottom: .5rem;
  --wj-input-line-height: 20px;
  --wj-input-slot-padding-inline: .5rem;
  width: 100%;
  margin-bottom: var(--wj-input-margin-bottom);
  display: block;

  .wrapper {
    display: flex;
    width: 100%;
  }
  .native-input {
    .input-wrapper {
      width: 100%;
      position: relative;
    }
    &.default {
      background-color: var(--wj-input-background-color);
      font-family: var(--wj-input-font-family);
      position: relative;
      border-radius: var(--wj-input-border-radius);
      border-width: var(--wj-input-border-width);
      border-style: var(--wj-input-border-style);
      border-color: var(--wj-input-border-color);
      border-top-color: darken($color-border-a, 10%);
      padding-inline: 0;
      padding-top: .25rem;
      padding-bottom: .25rem;
      transition: background-color 0.2s ease;
      cursor: text;
      .input-wrapper {
        margin-inline: .5rem;
      }
      &.focused {
        border-color: var(--wj-input-border-color-focus) !important;
        label {
          opacity: 0.67;
          font-size: 12px;
          letter-spacing: normal;
        }
      }
      input {
        border: none;
        height: 25px;
        min-height: 25px;
        padding: 0;
        margin-top: -4px;
        background: none;
        box-shadow: none;
        width: 100%;
      }
      label {
        margin: 0;
        display: block;
        opacity: 1;
        cursor: text;
        transition: opacity 0.2s ease;
        line-height: var(--wj-input-line-height);
        &.fade {
          opacity: 0.5;
          font-size: 12px;
          letter-spacing: normal;
        }
      }
      ::slotted([slot="start"]) {
        border-left: none;
        border-top: none;
        border-bottom: none;
      }

      ::slotted([slot="end"]) {
        border-right: none;
        border-top: none;
        border-bottom: none;
      }
    }
    &.standard {
      background-color: var(--wj-input-background-color);
      font-family: var(--wj-input-font-family);
      position: relative;
      border-radius: var(--wj-input-border-radius);
      padding-inline: 0;
      padding-top: 0;
      padding-bottom: 0;
      transition: background-color 0.2s ease;
      cursor: text;
      &.focused {
        input {
          border-color: var(--wj-input-border-color-focus) !important;
        }
      }
      input {
        display: block;
        min-height: 32px;
        padding-inline: .5rem;
        padding-top: 0;
        padding-bottom: 0;
        background: none;
        box-shadow: none;
        width: 100%;
        box-sizing: border-box;
        border-radius: var(--wj-input-border-radius);
        border-width: var(--wj-input-border-width);
        border-style: var(--wj-input-border-style);
        border-color: var(--wj-input-border-color);
      }
      label {
        margin: 0;
        display: inline-block;
        opacity: 1;
        cursor: text;
        transition: opacity 0.2s ease;
        line-height: var(--wj-input-line-height);
      }
      .input-wrapper {
        &:hover .clear {
          visibility: visible;
        }
      }
      ::slotted([slot="start"]) {
        border-right: none;
        border-radius: var(--wj-input-border-radius) 0 0 var(--wj-input-border-radius);
      }

      ::slotted([slot="end"]) {
        border-left: none;
        border-radius: 0 var(--wj-input-border-radius) var(--wj-input-border-radius) 0;
      }

      &.has-start input{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &.has-end input{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      .error-message {
        position: static;

        background: transparent;
        padding: 0.25rem 0;
        left: auto;
        transform: none;
        color: var(--wj-input-color-invalid);
        font-size: 12px;
        line-height: normal;
      }
    }
  }
}

.clear {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 3px;
  --wj-padding-top: .25rem;
  --wj-padding-start: .25rem;
  --wj-padding-end: .25rem;
  --wj-padding-bottom: .25rem;
  --wj-button-margin-inline: 0 .25rem;
}

:host([required]) .input-wrapper::after {
  color: var(--wj-input-color-invalid);
  content: "*";
  font-family: -apple-system, BlinkMacSystemFont, "Inter UI", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 2px;
}

:host([required]) .standard .input-wrapper::after {
  top: 0;
}

:host([invalid]) {
  .error-message {
    display: block;
  }
  .default {
    label {
      opacity: 1 !important;
      color: var(--wj-input-color-invalid) !important;
      animation-name: shake;
      animation-duration: 0.4s;
      animation-iteration-count: 1;
    }
  }
}

::slotted([slot="start"]), ::slotted([slot="end"]) {
  display: flex;
  //height: 100%; // zrusene na ziadost SCS
  align-items: center;
  border-width: var(--wj-input-border-width);
  border-style: var(--wj-input-border-style);
  border-color: var(--wj-input-border-color);
  padding-inline: var(--wj-input-slot-padding-inline);
}

slot[name="start"], slot[name="end"] {
  display: flex;
}

input {
  background-color: var(--wj-input-background-color);
  border-width: var(--wj-input-border-width);
  border-style: var(--wj-input-border-style);
  border-color: var(--wj-input-border-color);
  font-family: var(--wjinput-font-family);
  color: var(--wj-input-color);
  border-top-color: fade($color-contrast-higher, 21%);
  appearance: none;
  outline: 0;
  padding: .25rem .5rem;
  line-height: var(--wj-input-line-height);
  font-size: 14px;
  font-weight: normal;
  vertical-align: middle;
  min-height: 32px;
}

.error-message {
  display: none;
  position: absolute;
  width: auto;
  max-width: 100%;
  min-width: auto;
  border-radius: 50px;
  background: black;
  padding: .25rem .5rem;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
  line-height: normal;
}

@keyframes shake {
  8%,
  41% {
    transform: translateX(-4px);
  }
  25%,
  58% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-2px);
  }
  92% {
    transform: translateX(2px);
  }
  0%,
  100% {
    transform: translateX(0);
  }
}